<launch>
<!-- http://wiki.ros.org/amcl -->

    <arg name="scan_topic" default="scan"/>
    <!-- <arg name="initial_pose_x" default="0.3"/>
    <arg name="initial_pose_y" default="0.253"/>
    <arg name="initial_pose_a" default="0.0"/> -->
    <arg name="initial_pose_x" default="2.75"/>
    <arg name="initial_pose_y" default="0.3"/>
    <arg name="initial_pose_a" default="1.57"/>

    <node pkg="amcl" type="amcl" name="amcl" clear_params="true">

        <param name="diagnostic_period" value="0.5"/> <!-- 每0.5秒输出诊断 -->
        <param name="do_diagnostics" value="true"/>   <!-- 启用详细诊断 -->
        
        <param name="use_map_topic" value="false"/>  
        <!-- //当设置为true时，AMCL将会订阅map话题，而不是调用服务返回地图。也就是说，当设置为true时，有另外一个节点实时的发布map话题，也就是机器人在实时的进行地图构建，并供给amcl话题使用；当设置为false时，通过map server，也就是调用已经构建完成的地图。在navigation 1.4.2中新加入的参数。 -->
        <param name="first_map_only" value="true"/>  
        <!-- //当设置为true时，AMCL将仅仅使用订阅的第一个地图，而不是每次接收到新的时更新为一个新的地图，在navigation 1.4.2中新加入的参数。 -->
        <!-- 允许的最小、最大粒子数 -->
        <param name="min_particles"             value="100"/> <!--如果环境特征较少或对称性高，导致机器人容易定位丢失，可以适当增加此值，以保持一定的粒子多样性来应对突发情况。 -->
        <param name="max_particles"             value="3000"/>
        <!-- 真实分布和估计分布之间的最大误差 -->
        <param name="kld_err"                   value="0.01"/><!-- 0.05 -->
        <param name="kld_z"                     value="0.99"/>
        <!-- 执行筛选器更新之前需要的平移/旋转运动 -->
        <param name="update_min_d"              value="0.15"/>
        <param name="update_min_a"              value="0.25"/>
        <!-- 重新采样前所需的筛选器更新数 -->
        <param name="resample_interval"         value="2"/>
        <param name="initial_resample_count" value="3"/>
        <!-- 发布转换数据的有效时间 -->
        <param name="transform_tolerance"       value="0.1"/>
        <!-- 重新定位。 -->
        <param name="recovery_alpha_slow"       value="0.000"/>
        <param name="recovery_alpha_fast"       value="0.0"/>
        <!-- 初始位姿均值 -->
        <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
        <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
        <param name="initial_pose_a"            value="$(arg initial_pose_a)"/> 
        <!-- 初始协方差矩阵参数 -->
        <param name="initial_cov_xx" value="0.005"/>  <!-- x方向方差=0.25² -->
        <param name="initial_cov_yy" value="0.001"/>  <!-- y方向方差=0.25² -->
        <param name="initial_cov_aa" value="0.01"/>   <!-- 角度方差=(π/2)²/3≈0.822 -->
        <param name="gui_publish_rate"          value="2.0"/>
        <!-- amcl会订阅san话题，这里是将扫描信息映射到scan话题 -->
        <remap from="scan"                      to="$(arg scan_topic)"/>
        <!-- 激光参数设置 -->
        <param name="laser_max_range"           value="3.5"/>
        <param name="laser_max_beams"           value="60"/>

        <!-- 下面这四个概率z参数和必须为1 -->
        <!-- “一束激光击中了地图上已知障碍物”这部分的权重。权重应为最高 -->
        <param name="laser_z_hit"               value="0.90"/>
        <!-- “一束激光击中了未知的、比预期更近的障碍物”的权重。机器人因为地图中没有的动态障碍物导致定位漂移。 -->
        <param name="laser_z_short"             value="0.05"/>
        <!-- “一束激光达到了传感器的最大量程”的权重。由于小车的雷达最远距离为5米，而比赛场地的最大长度也为5米，故这个参数设为零即可 -->
        <!-- <param name="laser_z_max"               value="0.00"/> -->
        <!-- “一束激光是完全随机的噪声”的权重。这是“兜底”项，用于解释那些无法用以上三种情况解释的、完全离谱的读数（例如传感器故障、镜面反射等）。保持一个较小值即可 -->
        <param name="laser_z_rand"              value="0.05"/>

        <!-- 定义了激光测量的**“模糊度”或“容忍度”**。当一个激光点落在离地图上障碍物多远的地方以内，我们仍然认为它是一次“好的”匹配。在地图足够精确的情况下可以尽量小一些，不小于雷达噪声的漂移量即可。（目测雷达噪声导致的数据漂移最多在5cm左右） -->
        <param name="laser_sigma_hit"           value="0.1"/>
        <!-- 这是 laser_z_short 模型的指数分布参数。它控制了“意外障碍物”概率随距离的衰减速度。 -->
        <param name="laser_lambda_short"        value="0.1"/>
        <param name="laser_likelihood_max_dist" value="4.0"/> <!-- 只有当激光点落在离地图障碍物 2.0 米以内时，它才对粒子的权重有贡献。考虑到巡线区比较开阔，可以再大点 -->
        <param name="laser_model_type"          value="likelihood_field_prob"/> 
        <!-- 里程计模型参数设置 -->
        <param name="odom_model_type"           value="omni"/>
        <!-- 执行旋转指令时，其实际旋转角度的误差有多大。 -->
        <param name="odom_alpha1"               value="0.16"/>
        <!--  当机器人执行直行指令时，其方向发生的意外偏转有多大 -->
        <param name="odom_alpha2"               value="0.06"/>
        <!-- 直行指令时，其实际行驶距离的误差有多大。 -->
        <param name="odom_alpha3"               value="0.00"/>
        <!-- 当机器人执行原地旋转指令时，其中心点发生的意外位移有多大。 -->
        <param name="odom_alpha4"               value="0.00"/>
        <param name="odom_alpha5"               value="0.08"/>
        <param name="odom_frame_id"             value="odom"/>
        <param name="base_frame_id"             value="base_link"/>
        <!-- <param name="tf_broadcast" value="false"/>
  //设置为false阻止amcl发布全局坐标系和里程计坐标系之间的tf变换 -->
    </node>
</launch>
